
{% extends "base.html.twig" %}
{% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}
{% block title "SnowTricks" %}

{% block body %}
{% for message in app.flashes('success') %}
 <div class="alert alert-success">
    {{ message }}
 </div>
 {% endfor %}
<div class="fondecran">
<img src="/uploads/images/fondecran2.jpg" img-responsive  style="width:100%"/>
<div class="carousel-caption">
              <h1>SnowTricks</h1>
            </div>
 </div>


{% endblock %}
