
{% extends "base.html.twig" %}

{% block title "SnowTricks" %}

{% block body %}
<div class="jumbotron text-center">
<h1>Bienvenue sur SnowTricks</h1>
<p>SnowTricks le site communautaire de snow</p>
</div>
<div class="container">
<h2>Les dernières figures</h2>



{% endblock %}
