{% extends 'base.html.twig' %}

{% block title %}Nouveau groupe
{% endblock %}

{% block body %}
	<section class="container py-4">
		<h1>Ajouter un nouveau groupe de Trick</h1>
		{{ include('category/_form.html.twig') }}
		<a class="btn btn-primary" href="{{ path('home') }}">Retour</a>
	</section>

{% endblock %}
