@font-face {
  font-family: SouthbankLT;
  src: url(../fonts/SouthbankLT.ttf);
}

h1 {
  font-family: 'SouthbankLT', Arial, Helvetica, sans-serif;
  letter-spacing: 0.1em;
}

h5 {
  font-size: 24px;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2.5rem !important;
  }

  h2 {
    font-size: 1.1rem !important;
  }

  h5 {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 768px) {

  h5 {
    font-size: 14px !important;
  }
}


ul {
  list-style: none;
}

.wrap {
  position: relative;
  padding-bottom: 250px;
  min-height: 100vh;
  /* Footer height */
}

.main {
  position: relative;
}


/*cover image */
.mainVisu {
  background-size: cover;
  background-position: center center;
  height: 96vh;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.mainVisu h1 {
  color: white;
  font-size: 4em;
  margin-top: 20px;
}

.mainVisu h2 {
  color: white;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 200px;

}

.mainVisu a {
  border-width: 0.2em;
  background-color: Transparent;
  font-weight: bold;
  bottom: 10%;
}



@media screen and (max-width: 1024px) {

  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;
    /* 50% */
  }
}

.comment {
  font-style: bold;
}

.carousel-caption h1 {
  text-align: center;
  top: 50%;
}

/* Trick*/

.icon-cover {
  position: absolute;
  right: 1em;
  top: 1em;
}

.icon-cover a,
.icon-cover form {
  background: white;
  padding: 0.3em 0.5em;
  margin-bottom: 0.2em;
  border-radius: 4px;
  display: block;
}

.icon-cover form svg {
  margin-right: 0.2em;
}

.icon-cover form button {
  font-weight: bold;
}

.trickForm-ctn {
  max-width: 800px;
}

.trickForm-ctn fieldset {
  display: none;
}

.videos {
  padding: 0;

}



/* Show More Button*/

.display-button {
  display: none;
}

@media only screen and (max-width: 425px) {
  .display-button {
    display: block;
  }

  #tricksimages {
    display: none;
  }
}


/* Comment section */

.avatar-full {
  vertical-align: middle;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-box img {
  width: 50px;
  height: 50px;
}

.justify-content-center .btn.btn-success {
  margin-bottom: 20px;
}

.comment-box .media-left {
  padding-right: 10px;
  width: 65px;
}

.comment-box .media-body p {
  border: 1px solid #ddd;
  padding: 10px;

}

.comment-box .media-body .media p {
  margin-bottom: 0;
}

.comment-box .media-heading {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 7px 10px;
  position: relative;
  margin-bottom: -1px;
}

/* Home */

.addTrick {
  max-width: 300px;
  margin: auto;
}

svg.svg-inline--fa.fa-arrow-up.fa-w-14 {
  font-size: 4em;
  color: #007bff;
  cursor: pointer;
}

svg.svg-inline--fa.fa-arrow-up.fa-w-14:hover {
  color: rgba(0, 123, 255, 0.8);
}

.editIcon {
  width: 52px;
}

.editIcon-editTrick svg {
  margin-right: 0.2em;
}

.editIcon-editTrick a {
  margin-right: 0.2em;
}

/*Footer */

.footer {
  width: 100%;
  bottom: 0;
  margin-top: 25px;
  background-color: #26272b;
  padding: 20px 0 20px;
  position: absolute;
  text-align: center;

}

.footer ul {
  padding: 0;

  font-size: 50px;
}

.footer p {
  color: white;
  font-size: 15px;
}