<form method="post" action="{{ path('image_delete', {'id': image.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette image?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
	<button class="btn" title="delete">
		<i class="fas fa-trash-alt fa-lg"></i>
	</button>
</form>
