{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}
{% block title %}Modifier une Photo
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h2>Modifier la photo</h2>
		{{ include('trick/_image_form.html.twig', {'button_label': 'Sauvegarder'}) }}
		<img class="img-fluid img-thumbnail mt-3" src="{{asset('upload/tricksImage/' ~ image.filename)}}" alt="trick-image">
	</div>


{% endblock %}
