{% for comment in lastcomments | slice(start, start + 5) %}
	<div class="comment row mx-auto">
		<div class="col-md-10 col-12 mx-auto row">
			<img class="avatar" src="{{asset('upload/avatar/' ~ comment.author.profile.avatarFilename)}}" alt="avatar-image">
			<p class="col-lg-10 col-8 bg-light">
				<strong>{{ comment.author.username }}</strong>
				<small class="text-muted">({{ comment.createdAt | date('d/m/Y à H:i') }}) :</small>
				<br>{{ comment.content }}
			</p>
		</div>
	</div>
{% endfor %}
